body {
  font-family: 'Helvetica';
  background-color: rgb(211, 212, 146);
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.text-right {
  text-align: right;
}
img.small {
  max-height: 8rem;
}
button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #97d934;
  width: 100%;
  cursor: pointer;
}
button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}




/* Header Design */

.nav
{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    background-color: #123105;
    
    width: 100%;
    height: 10vh;
    /* overflow: hidden; */
 

}
.navBar ul
{
    
    display: flex;
    
    

}
.navBar ul li
{
    list-style: none;
    padding: 10px;
   
}
.navBar ul li a
{
    text-decoration: none;
    color: white;
    /* font-size: 1.2rem; */
    font-weight: bold;
}

.logo
{
    margin-left: -200px;
    /* min-width: fit-content; */
    background-color: aliceblue;
    border-radius: 50%;

}
.logo img
{
    
    width: 3rem;
    margin-right: 0.4rem;
    border-radius: 50%;

}



@media(max-width:768px)
{
    .logo
{
    margin-left: 0px;
    min-width: fit-content;

}
.nav
{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    /* background-color: #a4a4a4; */
    /* width: 110vw;
    height: 10vh; */
 

}
}






/* Displaying the product Page */


.productMargin
{
  margin-top: 2.5rem;
}

.item
{
    width: 150px;
    padding: 0 0.8rem 0.8rem 0.8rem;
    /* background-color: rgb(242, 224, 224); */
    
    background-color: rgb(197, 234, 149);
    
    border-radius: 30px;
    text-align: center;
    flex-direction: column;
    display: flex;
}
.item img
{
    margin-top: -3.5rem;
    height: 130px;
    object-fit: contain;
}
.item_foot_desc
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item_head_desc p
{
    margin: 0;
    margin-bottom: 0.5rem;
}
.item_head_desc
{
    text-align: left;
    flex:1;
    margin-top: 1px;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;

}
.head_desc_name
{
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: capitalize;
    flex: 1;

}
.head_desc_info
{
   font-size: 1rem;
   font-weight: 500;
   color: #470d0da0;

}
.foot_desc_price
{
    font-weight: 700;
}

button
{
    background-color: rgb(47, 228, 83);
    color: rgb(173, 46, 46);
    font-weight: bold;
    border: none;
    border-radius: 50%;
    border-bottom: 3px solid;
    border-top: 3px solid;

    cursor: pointer;

}
button:hover
{
    background-color: rgb(212, 231, 209);
    /* color: wheat; */
    /* border-radius: 50%; */
    border-bottom: 3px solid;
    border-top: 3px solid;
}


/* Main Page Designing */

.heading
{
  background-color: #c6d1b4;;
  text-align: center;
  height: 2.5rem;
  
}



main
{
    background-color: #c6d1b4;
    padding-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    grid-row-gap: 5rem;
}
@media(max-width:935px)
{
    main
    {
        grid-template-columns: repeat(4,1fr);

    }
}
@media(max-width:735px)
{
    main
    {
        grid-template-columns: repeat(3,1fr);

    }
}
@media(max-width:535px)
{
    main
    {
        grid-template-columns: repeat(2,1fr);

    }
}
@media(max-width:335px)
{
    main
    {
        grid-template-columns: repeat(1,1fr);

    }
}